@media (prefers-color-scheme: dark) {
  body:not(.light) {
    --accent-color-1: #367234;
    --accent-color-2: #715286;
  }
}

body.dark {
  --accent-color-1: #367234;
  --accent-color-2: #715286;
}

body {
  --accent-color-1: #aaffae;
  --accent-color-2: #f1aaff;
  --font-family: Helvetica, sans-serif;
  --font-color: #1e1e1e;
  --font-color-light: #e3e3e3;
  --font-color-link: #1f7db5;
  --font-color-link-hover: #175680;
  --font-color-link-light: #23a5e4;
  --font-color-link-light-hover: #4ebff7;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;
  --font-weight-black: 950;
  --accent-color-1: #cb6a6a;
  --accent-color-2: #aadfff;
  --background-color: white;
  --background-color-dark: darkgreen;
  --border-color: #e1e1e1;
  --border-color-light: #e1e1e1;
  --border-color-dark: #404040;
  --spacer-1: 10px;
  --spacer-2: 25px;
  --spacer-3: 50px;
  --spacer-4: 75px;
}
